# Eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
out/
*.ipr
*.iws
*.iml
.idea/

# VS Code
.vscode/

# Gradle
build/
.gradle/

# Runtime / Logs
run/
*.log
logs/

# Local Libraries (if any)
libs/
!libs/*.txt

# OS specific
.DS_Store
Thumbs.db

# Forge MDK leftovers
forge*changelog.txt
